/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --primary-color: #ffc2e6;

  --secondary-color: #353430;
  --secondary-color-hover: #35343040;
  --title-color: #353430;

  --background-image: url(../images/cover-image-light.png);

  --rec-icon-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --primary-color: #ffc2e6;

    --secondary-color: #353430;
    --secondary-color-hover: #35343040;
    --title-color: #353430;

    --background-image: url(../images/cover-image-light.png);

    --rec-icon-visibility: hidden;
  }
}
