/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color, #f1b2ce);
  font-family: var(--font-family, "IBM Plex mono", monospace, sans-serif);
  background-color: var(--background-color, #000028);
  background-image: var(--background-image, url(../images/cover-image.png));
  line-height: 23.4px;
  font-size: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
  display: grid;
  height: 100vh;
  min-height: 668px;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  z-index: -1;
}

.decorated-zone::before {
  top: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  right: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  border-top: 1px solid var(--secondary-color, #ff0070);
  border-right: 1px solid var(--secondary-color, #ff0070);
}

.decorated-zone::after {
  bottom: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  left: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  border-bottom: 1px solid var(--secondary-color, #ff0070);
  border-left: 1px solid var(--secondary-color, #ff0070);
}

.shadow {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.link {
  text-decoration: none;
}

.link:hover {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070), 0 0 transparent;
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.rec-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: -1;
  visibility: var(--rec-icon-visibility, visible);
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.rec-icon::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

.rec-icon::after {
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.accent-text {
  color: var(--primary-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.title {
  color: var(--secondary-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.article__title {
  color: var(--title-color, #000028);
  background: var(--accent-color, #ff0070);
}

.section {
  display: grid;
  gap: 20px;
}

.section-gallery {
  gap: 10px;
}

.section-how__title {
  margin-bottom: 20px;
}

.articles-list {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list__item-img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

/* Header */

.header {
  align-items: start;
}

.header__theme-menu {
  margin-block: 65px;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  padding: 2px 12px;
  background: transparent;
  color: var(--secondary-color, #ff0070);
  border: 1px solid transparent;
  text-transform: lowercase;
  line-height: 18px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color-hover, #ff007066);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__main-text {
  background: var(--accent-color, #ff0070);
  margin-block: 55px;
  color: var(--title-color, #000028);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

/* Main */

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

/* Footer */

.footer {
  place-items: center;
}

/* media */

/* width >= 768px */

@media (width >= 768px) {
  .rec-icon {
    top: 20px;
    right: 28px;
  }

  .accent-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .section-what__articles-list {
    grid-column-start: span 2;
  }

  .section-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-how__articles-list {
    grid-column-start: 2;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list__item:first-child,
  .gallery-list__item:last-child {
    grid-column-start: span 2;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row-start: span 2;
  }

  .header {
    padding-left: 0;
  }

  .header__theme-menu {
    margin-top: 170px;
    margin-bottom: 70px;
  }

  .header__main-text {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .main {
    padding: 60px 20px;
    gap: 80px;
  }
}

/* width >= 1024p */

@media (width >= 1024px) {
  .accent-text {
    text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  }

  .section {
    column-gap: 30px;
  }

  .section-what__articles-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    margin-top: 0;
    margin-bottom: 215px;
    margin-left: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}
